/* Sticky footer styles
-------------------------------------------------- */
$navbarPrimaryMinHeight: 75px;
$footerMinHeight: 60px;

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: $footerMinHeight;
}

.navbar-primary {
  min-height: $navbarPrimaryMinHeight;

  .container {
    .navbar-header {
      .navbar-left {
        img {
          max-height: $navbarPrimaryMinHeight - 10px; 
          max-width: 200px;
          margin-top: 2.5px;
        }
      }
    }

    #header-nav-body {
      margin-top: 20px;
    }
  }
}

.main-container {
  margin-top: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: $footerMinHeight;
  background-color: #222;

  .navbar {
    margin-bottom: 0;
    border: 0;
  }
}

/* Multi Level Dropdown Menus */
@media (min-width: 767px) {
    .navbar-nav .dropdown-menu .caret {
	transform: rotate(-90deg);
    }
}